.ContactDetailsForm {
  width: 100%;
  box-shadow: 0px 0px 30px -10px rgb(193, 193, 193);
}

.ContactDetailsForm__header {
  padding: 10px 15px;
  background-color: #F9F9F9;
}

.ContactDetailsForm__content {
  padding: 15px;
}

.ContactDetailsForm__item {
  width: 100%;
  margin-bottom: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.ContactDetailsForm__item--flex {
  display: flex;
  gap: 20px;
}

.ContactDetailsForm__item label,
.ContactDetailsForm__item input,
.ContactDetailsForm__item span {
  display: block;
}

.c-ContactDetailsForm__input {
  display: flex;
}

.c-ContactDetailsForm__input input,
.c-ContactDetailsForm__input textarea {
  width: 100%;
  flex-grow: 1;
}

.ContactDetailsForm__item label {
  width: 100%;
  font-weight: bold;
}

.ContactDetailsForm__item input {
  width: 100px;
}

.ContactDetailsForm__item input,
.ContactDetailsForm__item button,
.ContactDetailsForm__item textarea {
  padding: 5px;
  border: #CED4D9 solid 2px;
  border-radius: 5px;
}

.c-ContactDetailsForm__promoCode {
  display: flex;
}

.c-ContactDetailsForm__promoCode input {
  flex-grow: 1;
}

.ContactDetailsForm__item button {
  width: 100px;
  height: auto;
  color: black;
  font-weight: normal;
  font-size: 14px;
  background-color: #E9ECEF;
}

.ContactDetailsForm__button {
  margin-left: -10px;
  text-decoration: none;
}
