.couponForm {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 30px -10px rgb(193, 193, 193);
}

.couponForm__item {
    margin-bottom: 10px;
}

.couponForm__item p {
    margin-left: 16px;
}

.c-promoCode {
    display: flex;
    align-items: center;
    gap: 5px;
}

.couponForm__input input,
.couponForm__input button {
    padding: 5px;
    border: #CED4D9 solid 2px;
    border-radius: 5px;
}

.couponForm__input input {
    flex-grow: 1;
}

.couponForm__input button {
    width: 100px;
    height: auto;
    color: black;
    font-weight: normal;
    font-size: 14px;
    background-color: #E9ECEF;
}

.couponForm__item-name {
    font-weight: bold;
}

.couponForm__item-name {
    font-weight: bold;
}
