.orangeButton {
  background-color: #eabe2c;
  border-radius: 1px;
  border: 0;
  padding: 6px 15px;
  font-size: 16px;
  color: white;
  font-weight: 800;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  margin: 0 10px;
  max-width: fit-content;
  cursor: pointer;
}

.orangeButton:hover {
  background-color: #eb6020;
}

.orangeButton:active {
  background-color: #b15805;
}
