.userProfile {
  display: grid;
  grid-template-columns: minmax(80px, 200px) 70%;
  padding: 15px;
  color: black;
  align-items: center;
  gap: 10px;
  justify-content: start;
  height: min-content;

  &__input {
    width: 50px;
  }

  &__edit {
    position: relative;
  }

  &__button {
    background-color: rgba(255, 231, 204, 0.959);
    color: rgb(245, 168, 26);
    border-radius: 50%;
    width: fit-content;
    padding: 5px 5px 0px 5px;
    font-size: 20px;
    border: solid 1px rgb(235, 170, 50);
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
  &__button:hover {
    background-color: rgba(68, 68, 68, 0.877);
    transform: scale(1.1);
  }

  &__img {
    justify-self: center;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    outline: 2px solid#e9af0e8f;
    object-fit: cover;
  }

  &__text {
    padding: 10px;
    justify-self: start;
    &__name {
      word-wrap: break-word;
      font-size: 28px;
    }

    &__email {
      font-weight: 300;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 769px) {
  .userProfile {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    max-width: 300px;

    &__button {
      bottom: 20px;
      right: 20px;
      font-size: 25px;
    }
    &__pic {
      max-width: 150px;
      max-height: 150px;
    }

  }
}

@media screen and (max-width: 550px) {
  .userProfile {
    &__button {
      font-size: 15px;
      right: 5px;
      bottom: 5px;
    }

  }
}
