.checkFilter {
  padding: 5px;
  &__title {
    display: flex;
    justify-content: space-between;

    &__button {
      border: none;
    }
  }
  &__icon {
    background-color: #525252;
    color: #f5f1f1;
    border: none;
  }

  &__list {
    list-style: none;

    &__item {
      list-style: none;
      display: flex;

      &__label {
        margin-left: 10px;
        display: flex;
        align-items: center;
        user-select: none;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
      }

      &__input {
        display: none;
      }

      &__checkmark {
        display: flex;
        height: 16px;
        width: 16px;
        border: none;
        background-color: #f5ecec;
        margin-right: 5px;
      }
    }
  }
}

.checkFilter__list__item__label:hover .checkFilter__list__item__checkmark {
  border: 2px solid #eed12a;
}

.checkFilter__list__item__input:checked + .checkFilter__list__item__checkmark {
  background-color: #eed12a;
}

