.HowToGet{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 15px;
  background-image: url('test2.png') ;
  background-repeat: no-repeat;
  background-size: cover;

}
.HowToGet__Cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.HowToGet>h3{
  text-align: center;
  background-color: white;
  color:#eab30f;
  max-height: 95px;
  padding: 15px 20px;
  border-radius: 12px;
}
@media (min-width: 500px) {
  .HowToGet__Cards {
     justify-content: space-between;
     flex-wrap: wrap;
  }
}
