.HowToGet {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-image: url('/test2.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.HowToGet__Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HowToGet__Cards>h3 {
  text-align: center;
  background-color: white;
  color: #eab30f;
  max-height: 95px;
  padding: 5px 10px;
  border-radius: 3px;
  width: fit-content;
}

@media (min-width: 500px) {
  .HowToGet__Cards {
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .HowToGet {
    flex-direction: row;
  }
}
