.heroContainer {
  display: flex;
  align-items: center;
  background-image: url(../../assets/HeroDefault/hero2.png);
  height: 350px;
  background-position: right 10% bottom 45%;
  background-size: cover;
  justify-content: flex-end;

  &__text {
    color: white;
    margin: 10px;
    margin-right: 60px;
    text-align: right;
    &__title {
      font-weight: 800;
      font-size: 28px;
    }
    &__details {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 768px) {
  .heroContainer {
    &__text {
      margin-right: 25px;
    }
  }
}
