.userProfile {
  display: grid;
  grid-template-columns: minmax(80px, 200px) 70%;
  background-color: #1b1b1b;
  padding: 15px;
  border-radius: 20px;
  color: white;
  // justify-items: start;
  align-items: center;
  gap: 10px;
  justify-content: start;
  height: min-content;

  &__img {
    justify-self: center;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #1b1b1b;
    outline: 1px solid#e9af0e8f;
    object-fit: cover;
  }

  &__text {
    padding: 10px;
    justify-self: start;
    &__name {
      word-wrap: break-word;
      font-size: 28px;
    }

    &__email {
      font-weight: 100;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 769px) {
  .userProfile {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    max-width: 300px;
    &__pic {
      max-width: 150px;
      max-height: 150px;
    }
  }
}
