.listFilter {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  box-shadow: 0px 0px 30px -10px rgb(193, 193, 193);
  height: fit-content;

  &__title {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-size: 18px;
    }
  }
}
.hide {
  display: none;
}
