.cabSearch {
  padding: 0px 20px;
  padding-bottom: 20px;
  margin: 15px;
  background-color: white;
  box-shadow: 0px 0px 30px -10px rgb(193, 193, 193);
}

@media screen and  (min-width:768px) {
  .cabMain {
  display: grid;
  grid-template-columns: 300px 1fr;

  &__filter {

  }

  &__list {
  }
  }
}
@media screen and (min-width: 700px) {
  .cabSearch {
    padding: 0px 0px;
  }
}
