.tripDetails {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;

  &__avatar {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
  }

  &__text {
    justify-self: end ;
  }

  &__name {
    font-size: 18px;
  }

  &__vehicle {
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (min-width: 769px) {
  .tripDetails {
    justify-content: start;
  }
}
