.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  padding: 0px 15px;
  gap: 15px;


  &__listedCar {
    // margin: 15px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px -10px rgb(193, 193, 193);
    width: 100%;
    align-items: center;
    padding-bottom: 15px;
    // height: 200px;

    &__button {
      text-align: center;
      width: 130px;
    }
    padding-bottom: 15px;

    &__button {
      text-align: center;
      width: 130px;
    }
  }
}

@media screen and (min-width: 960px) {
  .list {

    &__listedCar {
      flex-direction: row;
      align-items: center;
      padding-right: 20px;
      justify-content: space-around;
    }
  }
}

