.creditCardOption {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  width: 400px;
  font-weight: bold;
  overflow: hidden;
}

.creditCardOptions__header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #F9F9F9;
  border: solid 1px #E5E5E5;
}

.formCreditCard {
  padding: 15px;
  border: solid 1px #E5E5E5;
}

.formCreditCard__input {
  padding: 10px;
  margin: 20px 0px;
}
