.component {
  display: flex;
  align-items: center;
  // border: 2px solid blue;
  overflow: hidden;
  flex-direction: column;
  // width: 350px;
  padding: 5px;
  margin: 30px auto;
  text-align: center;

  &__info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    &__emphasis {
      display: inline-block;
      background-color: #d8ad20;
      border-radius: 5px;
      padding: 3px 12px;
      font-size: 16px;
      color: white;
      font-weight: 700;
      margin-bottom: 0;
    }
    &__title {
      margin-top: 5px;
      margin-bottom: 0;
      font-weight: 800;
    }
    &__description {
      color: #a1a1a1;
      font-size: 16px;
      margin: 5px 0;
      max-width: 800px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 40px -32px rgba(117, 117, 117, 1);
  background-color: white;
  padding: 10px;
  width: 100%;
  height: auto;
  cursor: grab;
  border-radius: 20px;
  margin: 10px 0;

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &__textType {
    margin-top: -15px;
    margin-bottom: 5px;
  }
  &__textFee {
    font-weight: 600;
    margin: 0;
  }
  &__description {
    margin: 5px 0;
  }
  p {
    color: rgb(109, 109, 109);
    font-size: 16px;
    margin: 5px 0;
  }
}
