.StepsToUse {
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 15px;
  background-image: url('/test2.png') !important;
  background-repeat: no-repeat;
  background-size: cover;

}

.StepsToUse__Cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (min-width: 500px) {
  .StepsToUse__Cards {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
