.listCar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 50%;
    align-self: center;
    margin: 5px;
  }

  &__type {
    color: gray;
    font-size: 14px;
  }

}
