.listCar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 300px;
    height: 200px;
    align-self: center;
    margin: 5px;
    padding: 10px;


    &__pic {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__type {
    color: gray;
    font-size: 14px;
  }

}
