.listCar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    max-width: 200px;
    margin: 0px 0px;
    margin-right: -15px;
    margin-bottom: -25px;
    align-self: center;
  }

  &__type {
    color: gray;
    font-size: 14px;
  }

}
